$mobile-width: 800px;

html {
  --bg: #e8e8e8;
  --bg-active: #d8f0f8;
  --border-active: #1E97BE;
  --bg-todo: #ffe0b0;

  --bg-primary: #ffb638;
  --bg-secondary: #ffe7bf;

  --link: #1E97BE;
  --link-dim: #4080a0;

  scroll-behavior: smooth;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: sans-serif;
  font-size: 1.2em;
}

header {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-top: 2rem;
  padding-left: 10px;
  padding-right: 15px;

  img {
    width: auto;
    max-width: 100%;
    min-width: 1.5in;
  }

  .line {
    background-color: #0f75bc;
    height: 2.5px;
    margin: 0.8rem 0.25rem;
  }

  .dates {
    color: #818387;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }
}

nav {
  flex: none;
  background-color: var(--bg);
  border-radius: 0.8rem;
  display: flex;
  padding: 1rem 0;
  margin: 1rem 0;

  &>* {
    display: block;
    margin: 0 1em;
  }

  summary {
    color: var(--link);
    font-weight: bold;
    fill: var(--link);
    text-decoration: underline;
    list-style: none;
  }

  details {
    position: relative;

    &>div {
      position: absolute;
      width: 460px;
      max-width: 80vw;
      top: calc(100% + 0.5rem);
      right: -10vw;
      z-index: 5;

      background: var(--bg);
      box-shadow: 0 2px 15px -2px black;
      border-radius: 1rem;

      padding: 1em 1rem;
    }
  }
}

footer {
  color: #808080;
  font-size: 0.8em;
  padding-bottom: 1em;
  text-align: center;
  margin-top: 2rem;
}

summary {
  cursor: pointer;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  gap: 1em;
  max-width: 1150px;
  margin: auto;
}

.content {
  line-height: 1.3;
  flex: none;
  padding: 0 1rem;

  &>*+* {
    margin-top: 1.3em;
  }
}

.spacer {
  flex: 1 0 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
  padding: 0.5em 0;
  margin-bottom: 1em;

  a {
    fill: #808080;
  }

  a:hover {
    fill: #1e97be;
  }

  svg {
    width: 2em;
    height: 2em;
  }
}

.land-ack {
  font-size: 0.8em;

  p {
    text-align: left;
    padding: 0 5px;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    background-color: var(--bg);
    border-radius: 0.8rem;
    border: solid 1px var(--bg);
    flex: 1 0 0;
    padding: 0.5em 1rem;
    margin: 1rem;

    &:target {
      @keyframes blink {
        0% {
          background-color: var(--bg-active);
          border-color: var(--border-active);
          box-shadow: 0 0 15px -5px var(--border-active);
        }

        10% {
          background-color: var(--bg-active);
          border-color: var(--border-active);
          box-shadow: 0 0 15px -5px var(--border-active);
        }

        20% {
          background-color: var(--bg);
          border-color: var(--bg);
          box-shadow: none;
        }

        40% {
          background-color: var(--bg);
          border-color: var(--bg);
          box-shadow: none;
        }

        50% {
          background-color: var(--bg-active);
          border-color: var(--border-active);
          box-shadow: 0 0 15px -5px var(--border-active);
        }

        60% {
          background-color: var(--bg-active);
          border-color: var(--border-active);
          box-shadow: 0 0 15px -5px var(--border-active);
        }

        70% {
          background-color: var(--bg);
          border-color: var(--bg);
          box-shadow: none;
        }

        90% {
          background-color: var(--bg);
          border-color: var(--bg);
          box-shadow: none;
        }

        100% {
          background-color: var(--bg-active);
          border-color: var(--border-active);
          box-shadow: 0 0 15px -5px var(--border-active);
        }
      }

      animation-duration: 1.25s;
      animation-name: blink;
      background-color: var(--bg-active);
      border-color: var(--border-active);
      box-shadow: 0 0 15px -5px var(--border-active);
    }

    .anchor {
      float: right;
      visibility: hidden;

      color: var(--link-dim);
      fill: var(--link-dim);
      text-decoration: none;
    }

    &:hover .anchor {
      visibility: visible;
    }
  }
}

a {
  color: var(--link);
  font-weight: bold;
  fill: var(--link);

  &.disabled {
    color: #c0c0c0;
    text-decoration: underline dashed;
  }
}


h1 {
  font-size: 1.4em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

dl {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  row-gap: 1em;
  align-items: center;

  dt {
    grid-column: 1;
    font-weight: bold;
    text-align: right;
  }

  dd {
    grid-column: 2;
    margin: 0;
  }
}

.todo {
  background-color: var(--bg-todo);
}

.centered {
  text-align: center;
}

.fancy-button {
  background: linear-gradient(to bottom, rgb(34.49%, 57.3%, 26.34%) 40%, rgb(29.23%, 51.94%, 21.39%) 100%);
  border-radius: 0.8rem;
  border: solid 1px rgb(9.25%, 38.6%, 0.77%);
  box-shadow: inset 0 1px 0 0 rgb(36.67%, 57.87%, 28.97%);
  color: #ffffff;
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  line-height: 2.4;
  margin: 0;
  overflow: visible;
  padding: 0 1em;
  text-shadow: 1px 1px 0px #001b00;
  text-transform: none;
  touch-action: manipulation;
  white-space: nowrap;
  -webkit-appearance: button;
}

.main {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    margin: 0 -1rem;
  }

  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  &>* {
    flex: 1 0 0;
  }

  .center {
    grid-column: 2;
    grid-row: 1;

    background-color: var(--bg-primary);
    color: white;
    font-size: 1.8em;
    font-weight: 800;
    padding: 1.5rem 0.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .carousel {
      border: solid 15px white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      line-height: 0;
      margin: 0 1.5rem;
      margin-bottom: 1.5rem;
      width: 400px;

      @media (max-width: 1100px) {
        width: 350px;
      }

      @media (max-width: 1000px) {
        width: 300px;
      }

      @media (max-width: 900px) {
        width: 250px;
      }

      @media (max-width: $mobile-width) {
        width: calc(100vw - 30px - 3rem);
      }
    }
  }

  .left,
  .right {
    background-color: var(--bg-secondary);
    font-size: 0.9em;
    padding: 0 0.5rem;
    padding-bottom: 1em;

    @media (max-width: $mobile-width) {
      padding-bottom: 0;
    }
  }

  .left {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .right {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h2 {
    color: var(--accent);
    margin-bottom: 0em;
  }
}

.contact-link {
  svg {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.25em;
  }
}

.spacer {
  height: 20vh;
}

.embedded-pdf {
  width: 100%;
  aspect-ratio: 1 / 1;
}