<a href="{{ get_url(path="@/future/_index.md") }}">Home</a>
<a href="{{ get_url(path="@/future/register.md") }}"{% if current_path == "/future/register/" %}class="active"{% endif %}>Register</a>
<span></span>
<a href="{{ config.base_url }}/future/schedule/"{% if current_path == "/future/schedule/" %}class="active"{% endif %}>Schedule</a>
<a href="{{ config.base_url }}/future/venues/"{% if current_path == "/future/venues/" %}class="active"{% endif %}>Venues</a>
<a href="{{ config.base_url }}/future/performers/"{% if current_path == "/future/performers/" %}class="active"{% endif %}>Performers</a>
<a href="{{ config.base_url }}/future/composers/"{% if current_path == "/future/composers/" %}class="active"{% endif %}>Composers</a>
<a href="{{ config.base_url }}/future/workshops/"{% if current_path == "/future/workshops/" %}class="active"{% endif %}>Workshops</a>
<a href="{{ get_url(path="@/future/hotel-travel.md") }}"{% if current_path == "/future/hotel-travel/" %}class="active"{% endif %}>Hotel/Travel</a>
<a href="{{ get_url(path="@/future/agoyo.md") }}"{% if current_path == "/future/agoyo/" %}class="active"{% endif %}>AGOYO</a>
<span></span>
<a href="{{ get_url(path="@/future/donate.md") }}"{% if current_path == "/future/donate/" %}class="active"{% endif %}>Donate</a>
<a href="{{ get_url(path="@/future/advertise-exhibit.md") }}"{% if current_path == "/future/advertise-exhibit/" %}class="active"{% endif %}>Advertise/Exhibit</a>
