<a href="{{ get_url(path="@/future/index.md") }}">Home</a>
<a href="{{ get_url(path="@/future/donate.md") }}">Donate</a>
<a class="disabled">Advertise/Exhibit</a>
<a href="{{ get_url(path="@/future/register.md") }}">Register</a>
<span></span>
<a href="{{ config.base_url }}/future/schedule/">Schedule</a>
<a href="{{ config.base_url }}/future/performers/">Performers</a>
<a href="{{ config.base_url }}/future/venues/">Venues</a>
<a href="{{ get_url(path="@/future/travel.md") }}">Travel</a>
<a class="disabled">AGOYO</a>
